.text-light {
  color: #eee; }

.bg-cover-image {
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover; }

#banner {
  background-image: url("/images/banner.jpg");
  height: 512px; }
